@import url('http://fonts.cdnfonts.com/css/pf-dindisplay-pro');

/* Disable Arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: .25vw;
}

::-webkit-scrollbar-track {
    border-radius: .25vw;
    background: gray;
}
   
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: .25vw;
    transition: all 0.25s ease-in-out;
}

* {
    color: white;
    font-family: 'PF DinDisplay Pro';
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

.all {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.team-body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(img/backgroundPaintball.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.team-close {
    position: absolute;
    top: 1%;
    right: .5%;
    height: 3.6vw;
    width: 3.6vw;
    border: none;
    outline: none;
    border-radius: .3vw;
    background: rgba(255, 255, 255, 0.19);
    transition: all 0.15s ease-in-out;
}

.team-close > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4vw;
    color: white;
}

.team-close:active {
    opacity: .8;
}

.team-content {
    position: absolute;
    top: 9%;
    left: 7%;
    height: 82%;
    width: 86%;
}

.team-arenabody {
    position: relative;
    float: left;
    height: 100%;
    width: 100%;
}

.team-arenatitle {
    position: relative;
    left: 1%;
    width: 99%;
    color: white;
    font-size: 1.9vw;
}

.team-arenainfo {
    position: relative;
    left: 1%;
    width: 99%;
    font-size: .85vw;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    opacity: .9;
}

.team-arenacontainer {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 87.5%;
    width: 100%;
    overflow-y: visible;
}

.team-teamcontent{
    position: relative;
    float: left;
    margin-top: 2.5%;
    margin-bottom: 1%;
    margin-left: .75%;
    margin-right: 2.25%;
    height: 18vw;
    width: 15.7vw;
    border-radius: .5vw;
    box-shadow: 0 0 .3vw rgba(0, 0, 0, 0.3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 35%), url(img/backgroundPaintball.png);
}

.team-contentinfo{
    position: relative;
    margin-top: 8%;
    margin-left: 8%;
    font-size: 1.5vw;
}

.team-contentplayers {
    margin-left: 8%;
    position: relative;
    float: left;
    text-align: right;
    left: 0%;
    font-size: .7vw;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6);
    opacity: .9;
}
.imageContainer{
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 9vw;
    top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}
.teamicon{
    height: 78%;
}
.team-contentbutton {
    position: absolute;
    bottom: 8.75%;
    right: 8.25%;
    border: none;
    outline: none;
    border-radius: .3vw;
    height: 2.4vw;
    width: 9.75vw;
    color: white;
    font-size: .8vw;
    font-weight: 600;
    background-color: #E6CB33;
    transition: all 0.15s ease-in-out;
}

.team-contentbutton:active {
    opacity: .8;
}